/* Default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Typography */
h1 {
    text-align: center;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(87, 89, 230);
    margin-bottom: 0px;
    padding: 7px 3%;
    color: white;
}

/* Body and main content*/
body {
    min-width: 100vh;
}

/* Panel styles */
.panel {
    background-color: rgb(87, 89, 230);
    width: 300px;
    height: 150px;
    padding: 1em;
    border-radius: 10px;
    margin: 2px;
    line-height: 2em;
}

#fiveDayPanel {
    background-color: rgb(87, 89, 230);
    width: 908px;
    height: 150px;
    padding: 1em;
    border-radius: 10px;
    margin: 2px;
    line-height: 2em;
}

.panel {
    text-align: center;
}

#panel4 {
    width: 900px;
}

/* Form elements styles */
input,
button {
    border-radius: 5px;
}

/* Media queries */
@media screen and (max-width: 850px) {
    #fiveDayPanel {
        height: fit-content;
    }
}

@media screen and (max-width: 540px) {
    #lowerHeader {
        height: 200px;
    }
}

/* Day slot and container styles */
.daySlot {
    width: 160px;
    height: 100%;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

/* Icon styles */
.inlineIcon {
    display: inline-block;
}

.icon {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

/* Lower header styles */
#lowerHeader {
    background-color: rgb(107, 107, 107);
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#lowerHeader ul {
    display: flex;
    list-style-type: none;
    width: 100%;
}

#lowerHeader li {
    text-align: center;
    flex: 1;
}

/* Footer styles */
footer {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: rgb(87, 89, 230);
    margin-top: 655px;
}

/* Misc */
.clickable {
    cursor: pointer;
}

/* Main icon */
#mainIcon {
    height: 75px;
}
